@import "../../_global";
.text-content {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  @include section-spacing;
  h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  .formula {
    font-size: 1rem;
    font-weight: 700;
  }
  li {
    margin-top: 0.5rem;
  }
  .example {
    list-style: none;
    strong {
      margin-top: 0.5rem;
      display: block;
    }
  }
}
