@import "../../_global";
.calculadora {
  @include container;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 350px;
  width: calc(30% - 2rem);
  box-sizing: border-box;
}
.input {
  @include text;
  display: flex;
  font-size: 1.5rem;
  padding: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
}
label {
  width: 100%;
}

input {
  @include text;
  line-height: 1.75;
  width: auto;
  width: 100%;
  padding-left: 0.25rem;
  display: flex;
  background-color: #455073;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 0.5rem 0.25rem 0.5rem 0;
  color: $text-color-1;
  font-size: 1.15rem;
  &:hover,
  &:focus-visible {
    outline: none;
  }
}
button {
  @include buttons;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-color: #e6e6e6;
  border-radius: 8px;
  width: 100%;
  margin: 0.5rem 0;
}
select {
  @include buttons;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 2px);
  border-color: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
}
.capitalAplicado {
  width: 100%;
}
.tempo {
  position: relative;
}

input#taxaJuros {
  flex: 1;
  min-width: 24px;
}
#tempo {
  flex: 1;
  min-width: 90px;
}
.result {
  @include title;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
