@import "../../_global";
.grafico {
  @include container;
  width: calc(70% - 2rem);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $lg) {
    width: 75%;
    @include section-spacing;
  }
  @media screen and (max-width: $sm) {
    width: 100%;   
    padding: 0.10rem;
  }
}