@import "../../_global";
.intro {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  @include section-spacing;
  a {
    color: #fff;
  }
  .selic-hoje {
    @include container;
    @include section-spacing;
    width: 260px;
    height: 80px;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  strong {
    font-size: 1.5rem;
    white-space: nowrap;
    display: flex;
  }
  
}
